nav {
    background: var(--main-bg-color);
    width: 100vw;
    height: 12.5vh;
    display: flex;
    position: relative;
    z-index: 100;
}

.backButton {
    width: 20vh;
    height: 16vh;
    border-bottom-right-radius: 25px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.backButton > svg {
    height: 34%;
    fill: var(--second-bg-color);
    margin-left: -1vh;
}

.backButton > img {
    height: 40%;
    margin-left: -3vh;
}

p {
    margin: 0;
    margin-left: 3vh;
    color: var(--second-bg-color);
    font-size: 6vh;
    font-family: 'Germania One', cursive;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}