<app-menu (activeMenu)="setSection($event)" [activeMenuHome]="activeSection"></app-menu>

<!-- HOME -->
<section *ngIf="activeSection == 'home' " class="w-100 d-flex flex-column">
    <div class="d-flex flex-wrap">
        <div class="pokeballOpeningPokemon shadow" *ngFor="let pokemon of pokedexList; let i=index" [ngStyle]="{'background-color': getPokedexBgColor(pokemon)}">
            <div class="d-flex justify-content-between w-100 align-items-center">
                <div class="background" [ngStyle]="{'background-color': getPokedexBgColor(pokemon)}"></div>
                <div class="d-flex w-100 align-items-center">
                    <div class="d-flex flex-column" style="height: 40px;">
                        <img *ngFor="let tipo of pokemon.types" class="typeIcon shadow" src="{{baseUrl}}assets/media/types/{{tipo.type.name}}.png">
                    </div>
                    <h4>{{formatNamePokemonPokedex(pokemon.name)}}</h4>
                </div>
                <h4 class="lvl">{{i+1}}</h4>
            </div>
            <img src="{{pokemon.sprites.other['official-artwork'].front_default}}">
            <div class="stats">
                <div class="d-flex align-items-center invisible">
                    <span><img src="{{baseUrl}}assets/media/stats/punch.svg">12</span>
                    <span><img src="{{baseUrl}}assets/media/stats/shield.svg">8</span>
                </div>
                <img src="{{baseUrl}}assets/media/stats/stars.svg">
            </div>
        </div>
    </div>
    <button class="btn btn-primary w-25" (click)="generadorDePokemonsAleatorios()">Generar pokemon</button>
</section>

<!-- POKEDEX -->
<section *ngIf="activeSection == 'pokedex' " class="w-100 d-flex flex-column">
    <div *ngIf="pokedexCargada">
        <div class="d-flex align-items-center justify-content-between">
            <input type="text" placeholder="Search pokemon..." (keyup)="pokedexFilterSearch()"
                [(ngModel)]="pokedexInputSearch">
            <div class="d-flex">
                <div ngbTooltip="{{formatNamePokemonPokedex(tipo)}}" ngbTooltipDelay="{show: 1000, hide: 500}"
                    (click)="pokedexFilterSearch(tipo)" *ngFor="let tipo of pokedexTipos"
                    class="pokemonInPokedexTypeFilter"
                    [ngClass]="{'pokemonInPokedexTypeFilterSelected': pokedexTiposSelected.indexOf(tipo) != -1}">
                    <img width="100%" src="{{baseUrl}}assets/media/types/{{tipo}}.png">
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-start mt-3">
            <article class="pokemonInPokedex" *ngFor="let pokemon of pokedexList"
                (click)="goToPokemonDatos(pokemon,-1)">
                <div class="w-100" class="pokemonInPokedexImg"
                    [ngStyle]="{'background-color': getPokedexBgColor(pokemon)}">
                    <h4>{{formatNamePokemonPokedex(pokemon.name)}}</h4>
                    <p>{{formatIdPokemonPokedex(pokemon.id)}}</p>
                    <img *ngIf="comprobarPokemonCaptured(pokemon.id)" class="pokemonInPokedexCaptured"
                        src="{{baseUrl}}assets/media/pokeball.png">
                    <img *ngIf="!comprobarPokemonCaptured(pokemon.id)" class="pokemonInPokedexCaptured"
                        src="{{baseUrl}}assets/media/pokeballOff.png">
                    <img src="{{pokemon.sprites.other['official-artwork'].front_default}}">
                    <div class="pokemonInPokedexTypesBox">
                        <div *ngFor="let tipo of pokemon.types">
                            <img src="{{baseUrl}}assets/media/types/{{tipo.type.name}}.png">
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<!-- BATTLE -->
<section *ngIf="activeSection == 'battle'" class="w-100 d-flex flex-column">
    <div *ngIf="pokedexCargada">
        <button class="btn btn-primary" (click)="battle()" *ngIf="!inBattle">Dale pa luchar</button>
        <div *ngIf="inBattle" class="pokemonInBattle">
            <div>
                <div class="pokemonInBattleHudBox d-flex justify-content-between">
                    <!-- 
                        ESTO VA ABAJO
                        [ngClass]="{
                        'pokemonInBattleReceiveAttackYouAnimation':battle_your_pokemon_movement == 'attack' && battle_turn == 'enemy',
                        'pokemonInBattleAttackYouAnimation':battle_your_pokemon_movement == 'attack' && battle_turn == 'your'
                        }"
                    -->
                    <div id="hudPokemonPlayer" class="pokemonInBattlePokemonHud" [ngClass]="{
                        'pokemonInBattleIdleAnimation':battle_your_pokemon_animation == 'wait',
                        'pokemonInBattleAttackYouAnimation':battle_your_pokemon_animation == 'attack',
                        'pokemonInBattleReceiveAttackYouAnimation':battle_your_pokemon_animation == 'receiveAttack'
                    }">
                        <div class="d-flex align-items-end w-100">
                            <div class="pokemonInBattlePokemonPSBox">
                                <span
                                    [ngStyle]="{'color': getPokemonPSInBattleStatColor(battle_your_pokemon)}">PS</span>
                            </div>
                            <div class="pokemonInBattlePokemonLifeBarBox">
                                <div class="pokemonInBattlePokemonLifeBarBoxText">
                                    <span *ngIf="battle_your_pokemon.unique">
                                        <p *ngIf="battle_your_pokemon.unique.name != null">
                                            {{formatNamePokemonPokedex(battle_your_pokemon.unique.name)}}</p>
                                        <p *ngIf="battle_your_pokemon.unique.name == null">
                                            {{formatNamePokemonPokedex(battle_your_pokemon.name)}}</p>
                                    </span>
                                    <p *ngIf="!battle_your_pokemon.unique">
                                        {{formatNamePokemonPokedex(battle_your_pokemon.unique.name)}}</p>
                                    <p><span>LVL</span>&nbsp;{{battle_your_pokemon.unique.lvl}}</p>
                                </div>
                                <div class="pokemonInBattlePokemonHudPSBackground">
                                    <span
                                        class="pokemonInBattlePokemonHudPSStat">{{battle_your_pokemon.battleStats.actual.ps}}/{{battle_your_pokemon.battleStats.ps}}</span>
                                    <div class="pokemonInBattlePokemonHudPSFill"
                                        [ngStyle]="{'width': getPokemonPSInBattleStatFill(battle_your_pokemon)+'%','background': getPokemonPSInBattleStatColor(battle_your_pokemon)}">
                                    </div>
                                    <div class="pokemonInBattlePokemonHudPSDamage "
                                        *ngIf="battle_your_pokemon_animation == 'receiveAttack'"
                                        [ngStyle]="{'width': battle_damage_width+'%'}"></div>
                                    <div class="pokemonInBattlePokemonHudPSHealth"
                                        *ngIf="battle_your_pokemon_animation == 'attack'"
                                        [ngStyle]="{'max-width': battle_health_width+'%','margin-left': '-'+battle_health_width+'%'}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img class="pokemonInBattleIdleAnimation"
                            src="{{battle_your_pokemon.sprites.other['official-artwork'].front_default}}">
                    </div>

                    <div class="pokemonInBattlePokemonHud" [ngClass]="{
                            'pokemonInBattleIdleAnimation':battle_enemy_pokemon_animation == 'wait',
                            'pokemonInBattleAttackEnemyAnimation':battle_enemy_pokemon_animation == 'attack',
                            'pokemonInBattleReceiveAttackEnemyAnimation':battle_enemy_pokemon_animation == 'receiveAttack'
                        }">
                        <div class="d-flex align-items-end w-100">
                            <div class="pokemonInBattlePokemonPSBox">
                                <span
                                    [ngStyle]="{'color': getPokemonPSInBattleStatColor(battle_enemy_pokemon)}">PS</span>
                            </div>
                            <div class="pokemonInBattlePokemonLifeBarBox">
                                <div class="pokemonInBattlePokemonLifeBarBoxText">
                                    <p>{{formatNamePokemonPokedex(battle_enemy_pokemon.name)}}</p>
                                    <p><span>LVL</span>&nbsp;{{battle_enemy_pokemon.unique.lvl}}</p>
                                </div>
                                <div class="pokemonInBattlePokemonHudPSBackground">
                                    <span
                                        class="pokemonInBattlePokemonHudPSStat">{{battle_enemy_pokemon.battleStats.actual.ps}}/{{battle_enemy_pokemon.battleStats.ps}}</span>
                                    <div class="pokemonInBattlePokemonHudPSFill"
                                        [ngStyle]="{'width': getPokemonPSInBattleStatFill(battle_enemy_pokemon)+'%', 'background': getPokemonPSInBattleStatColor(battle_enemy_pokemon)}">
                                    </div>
                                    <div class="pokemonInBattlePokemonHudPSDamage .enemy"
                                        *ngIf="battle_enemy_pokemon_animation == 'receiveAttack'"
                                        [ngStyle]="{'width': battle_damage_width+'%'}"></div>
                                </div>
                            </div>
                        </div>
                        <img class="pokemonInBattleIdleAnimation"
                            src="{{battle_enemy_pokemon.sprites.other['official-artwork'].front_default}}">
                    </div>
                </div>
                <div class="pokemonInBattleMenu" *ngIf="battle_turn_choose && battle_menu_show">
                    <button class="pokemonInBattleMenuButton" *ngIf="battle_menu == 'principal'"
                        (click)="setBattleMenu('luchar')">
                        <div class="pokemonInBattleMenuButtonTypeBox">
                            <svg class="pokemonInBattleMenuButtonTypeIcon" width="19px"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path
                                    d="M192 0c17.7 0 32 14.3 32 32V144H160V32c0-17.7 14.3-32 32-32zM64 64c0-17.7 14.3-32 32-32s32 14.3 32 32v80H64V64zm192 0c0-17.7 14.3-32 32-32s32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V64zm96 64c0-17.7 14.3-32 32-32s32 14.3 32 32v64c0 17.7-14.3 32-32 32s-32-14.3-32-32V128zm-96 88l0-.6c9.4 5.4 20.3 8.6 32 8.6c13.2 0 25.4-4 35.6-10.8c8.7 24.9 32.5 42.8 60.4 42.8c11.7 0 22.6-3.1 32-8.6V256c0 52.3-25.1 98.8-64 128v96c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V401.6c-17.3-7.9-33.2-18.8-46.9-32.5L69.5 357.5C45.5 333.5 32 300.9 32 267V240c0-35.3 28.7-64 64-64h88c22.1 0 40 17.9 40 40s-17.9 40-40 40H128c-8.8 0-16 7.2-16 16s7.2 16 16 16h56c39.8 0 72-32.2 72-72z" />
                            </svg>
                        </div>
                        Luchar
                    </button>
                    <button class="pokemonInBattleMenuButton" *ngIf="battle_menu == 'principal'"
                        (click)="setBattleMenu('pokemons')">
                        <div class="pokemonInBattleMenuButtonTypeBox">
                            <svg width="27px" version="1.1" id="Pokéball" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 594.1"
                                style="enable-background:new 0 0 595.3 594.1;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #FFFFFF;
                                    }

                                    .st1 {
                                        fill: #FFFFFF;
                                    }

                                    .st2 {
                                        fill: #FFFFFF;
                                    }

                                    .st3 {
                                        fill: #FFFFFF;
                                    }
                                </style>
                                <g id="Pokéball_1_">
                                    <g id="Colours">
                                        <path id="Down" class="st0"
                                            d="M297.6,380.9c-40.4,0-74.1-28.6-82.1-66.6H81.1c9.5,110.5,102.2,197.2,215.1,197.2 s205.7-86.7,215.1-197.2H379.7C371.7,352.4,338,380.9,297.6,380.9z" />
                                        <path id="Shadow_Down" class="st1"
                                            d="M345.6,505.9c89.6-21,157.7-97.7,165.7-191.6h-53C453,399.5,408.3,471.7,345.6,505.9z" />
                                        <path id="Center" class="st0"
                                            d="M347.1,297L347.1,297C347,297,347,297,347.1,297c-0.1-6.1-1.2-11.9-3.2-17.3 c-7-18.8-25.1-32.1-46.3-32.1s-39.3,13.4-46.3,32.1c-2,5.4-3.1,11.2-3.1,17.3c0,0,0,0,0,0h0.1c0,0,0,0,0,0 c0,6.1,1.1,11.9,3.1,17.3c7,18.8,25.1,32.1,46.3,32.1c21.2,0,39.3-13.4,46.3-32.1C346,309,347.1,303.1,347.1,297 C347.1,297,347.1,297,347.1,297z" />
                                        <path id="Up" class="st2"
                                            d="M297.7,213.2c40.4,0,74.1,28.6,82.1,66.6h134.4C504.7,169.2,412,82.5,299,82.5S93.4,169.2,83.9,279.7 h131.7C223.6,241.7,257.3,213.2,297.7,213.2z" />
                                        <path id="Shadow_Up" class="st3"
                                            d="M458.3,279.7h55.8c-8.2-95.5-78.6-173.3-170.5-192.6C407.4,120.8,452.9,193.7,458.3,279.7z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        Pokemons
                    </button>
                    <button class="pokemonInBattleMenuButton" *ngIf="battle_menu == 'principal'">
                        <div class="pokemonInBattleMenuButtonTypeBox">
                            <svg class="pokemonInBattleMenuButtonTypeIcon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 256 256">
                                <rect width="256" height="256" fill="none" />
                                <path
                                    d="M168,40.6V32A24.1,24.1,0,0,0,144,8H112A24.1,24.1,0,0,0,88,32v8.6A56,56,0,0,0,40,96V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V96A56,56,0,0,0,168,40.6ZM104,32a8,8,0,0,1,8-8h32a8,8,0,0,1,8,8v8H104Zm8,40h32a8,8,0,0,1,0,16H112a8,8,0,0,1,0-16Zm64,144H80V176h56v8a8,8,0,0,0,16,0v-8h24Zm0-56H80v-8a16,16,0,0,1,16-16h64a16,16,0,0,1,16,16Z" />
                            </svg>
                        </div>
                        Bolsa
                    </button>
                    <ng-container *ngFor="let move of battle_your_pokemon_moves; let i = index">
                        <button [ngStyle]="{'background-color': getPokedexBgColor(move)}"
                            (click)="setBattleMovement('move',battle_your_pokemon_moves[i],'your')"
                            (mouseover)="showTooltipBattle(combatTooltips)"
                            (mouseleave)="hideTooltipBattle(combatTooltips)" class="pokemonInBattleMenuButton"
                            *ngIf="battle_menu == 'luchar'">
                            <div class="pokemonInBattleMenuButtonTypeBox">
                                <img class="pokemonInBattleMenuButtonTypeImg"
                                    src="{{baseUrl}}assets/media/types/{{move.type.name}}.png">
                            </div>
                            {{move.names[5].name}}
                        </button>
                        <div #combatTooltips class="pokemonInBattleOverlays">
                            <div class="pokemonInBattleMenuButtonOverlay">
                                <div class="pokemonInBattleOverlaysTop">
                                    <div class="pokemonInBattleOverlaysDato"
                                        [ngStyle]="{'background-color': getPokedexBgColor(move)}">{{move.type.name}}
                                    </div>
                                    <div class="pokemonInBattleOverlaysDato">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <path
                                                d="M0 256L28.5 28c2-16 15.6-28 31.8-28H228.9c15 0 27.1 12.1 27.1 27.1c0 3.2-.6 6.5-1.7 9.5L208 160H347.3c20.2 0 36.7 16.4 36.7 36.7c0 7.4-2.2 14.6-6.4 20.7l-192.2 281c-5.9 8.6-15.6 13.7-25.9 13.7h-2.9c-15.7 0-28.5-12.8-28.5-28.5c0-2.3 .3-4.6 .9-6.9L176 288H32c-17.7 0-32-14.3-32-32z" />
                                        </svg>
                                        {{move.power}}
                                    </div>
                                    <div class="pokemonInBattleOverlaysDato">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path
                                                d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
                                        </svg>
                                        {{move.accuracy}}
                                    </div>
                                </div>

                                <div class="pokemonInBattleOverlaysBottom">
                                    {{move.descripcionSpanish}}
                                </div>

                            </div>
                        </div>
                    </ng-container>
                    <button class="pokemonInBattleMenuButton m-2 mt-0 mb-0" *ngIf="battle_menu == 'luchar'"
                        (click)="setBattleMenu('principal')">
                        <div class="pokemonInBattleMenuButtonTypeBox">
                            <svg class="pokemonInBattleMenuButtonTypeIcon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512">
                                <path
                                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                            </svg>
                        </div>
                        Volver
                    </button>

                    <div *ngFor="let pokemon of battle_yourTeam; let i = index">
                        <button class="pokemonInBattleMenuButton"
                            *ngIf="battle_menu == 'pokemons' && pokemon !== battle_your_pokemon"
                            [ngStyle]="{'background-color': getPokedexBgColor(pokemon)}"
                            (click)="setBattleMovement('pokemon',i,'your')">
                            <div class="pokemonInBattleMenuButtonPokemonBox">
                                <img class="pokemonInBattleMenuButtonPokemonImg"
                                    src="{{pokemon.sprites.other['official-artwork'].front_default}}">
                            </div>
                            {{formatNamePokemonPokedex(pokemon.name)}}
                        </button>
                    </div>
                    <button class="pokemonInBattleMenuButton m-2 mt-0 mb-0" *ngIf="battle_menu == 'pokemons'"
                        (click)="setBattleMenu('principal')">
                        <div class="pokemonInBattleMenuButtonTypeBox">
                            <svg class="pokemonInBattleMenuButtonTypeIcon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512">
                                <path
                                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                            </svg>
                        </div>
                        Volver
                    </button>
                </div>
                <div class="pokemonInBattleTextBox">
                    {{battle_messages}}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- POKEMON DATOS -->
<section *ngIf="activeSection == 'perfil'" class="w-100 d-flex flex-column">
    <div *ngIf="pokedexCargada">
        <div class="d-flex flex-wrap justify-content-start mt-3">
            <article class="pokemonInPokedex">
                <div class="w-100" class="pokemonInPokedexImg"
                    [ngStyle]="{'background-color': getPokedexBgColor(pokemonDatos)}">
                    <div *ngIf="pokemonDatos.unique != undefined">
                        <h4 *ngIf="pokemonDatos.unique.name != undefined && pokemonDatos.unique.name != null">
                            {{formatNamePokemonPokedex(pokemonDatos.unique.name)}}</h4>
                        <h4 *ngIf="pokemonDatos.unique.name == undefined || pokemonDatos.unique.name == null">
                            {{formatNamePokemonPokedex(pokemonDatos.name)}}</h4>
                    </div>
                    <div *ngIf="pokemonDatos.unique == undefined">
                        <h4>{{formatNamePokemonPokedex(pokemonDatos.name)}}</h4>
                    </div>
                    <p>{{formatIdPokemonPokedex(pokemonDatos.id)}}</p>
                    <img *ngIf="comprobarPokemonCaptured(pokemonDatos.id)" class="pokemonInPokedexCaptured"
                        src="{{baseUrl}}assets/media/pokeball.png">
                    <img *ngIf="!comprobarPokemonCaptured(pokemonDatos.id)" class="pokemonInPokedexCaptured"
                        src="{{baseUrl}}assets/media/pokeballOff.png">
                    <img src="{{pokemonDatos.sprites.other['official-artwork'].front_default}}">
                    <div class="pokemonInPokedexTypesBox">
                        <div *ngFor="let tipo of pokemonDatos.types">
                            <img src="{{baseUrl}}assets/media/types/{{tipo.type.name}}.png">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                </div>
                <button class="pokemonInBattleMenuButton mt-2 mb-4 justify-content-center w-100"
                    (click)="goToSection('pokedex')">
                    Volver a pokedex
                </button>

                <button class="pokemonInBattleMenuButton mt-1 justify-content-center w-100">
                    Movimientos
                </button>

                <button class="pokemonInBattleMenuButton mt-1 justify-content-center w-100">
                    Evolucionar
                </button>
            </article>

            <article class="pokemonDatos">
                <h4 class="pokemonDatosTitle align-self-start mb-5">Estadisticas</h4>
                <div style="height: 400px; width: 70%;" id="pokemonDatosStatsChartPadre">
                    <canvas id="pokemonDatosStatsChart">{{getStatsChart()}}</canvas>
                </div>
                <!--
                    <span class="d-flex align-items-center flex-column">
                        <div *ngIf="pokemonDatos.unique">LVL {{pokemonDatos.unique.lvl}}</div>
                    <div *ngIf="!pokemonDatos.unique">LVL 1</div>
                    <div>Ps: <b>{{pokemonDatos.stats[0].base_stat}}</b><div class="pokemonDatosStatBorder"><div class="pokemonDatosStatFill" style="background: #62B957" [ngStyle]="{'width': getPokemonDatosStatFill(0)+'%'}"></div></div></div>
                    <div>Atk: <b>{{pokemonDatos.stats[1].base_stat}}</b><div class="pokemonDatosStatBorder"><div class="pokemonDatosStatFill" style="background: #D04164" [ngStyle]="{'width': getPokemonDatosStatFill(1)+'%'}"></div></div></div>
                    <div>Def: <b>{{pokemonDatos.stats[2].base_stat}}</b><div class="pokemonDatosStatBorder"><div class="pokemonDatosStatFill" style="background: #0F6AC0" [ngStyle]="{'width': getPokemonDatosStatFill(2)+'%'}"></div></div></div>
                    <div>Spa: <b>{{pokemonDatos.stats[3].base_stat}}</b><div class="pokemonDatosStatBorder"><div class="pokemonDatosStatFill" style="background: #ED6EC7" [ngStyle]="{'width': getPokemonDatosStatFill(3)+'%'}"></div></div></div>
                    <div>Spd: <b>{{pokemonDatos.stats[4].base_stat}}</b><div class="pokemonDatosStatBorder"><div class="pokemonDatosStatFill" style="background: #61CEC0" [ngStyle]="{'width': getPokemonDatosStatFill(4)+'%'}"></div></div></div>
                    <div>Spe: <b>{{pokemonDatos.stats[5].base_stat}}</b><div class="pokemonDatosStatBorder"><div class="pokemonDatosStatFill" style="background: #EAB308" [ngStyle]="{'width': getPokemonDatosStatFill(5)+'%'}"></div></div></div>
                    <div *ngIf="pokemonDatos.unique">Naturaleza: {{pokemonDatos.unique.naturaleza}}</div>
                </span>
            -->
            </article>
            <article class="pokemonDatosMoves">
                <h4 class="pokemonDatosTitle">Movimientos</h4>
                <div style="overflow-y: scroll; width: 103.33%; max-height: 74vh;" class="mt-2">
                    <p *ngFor="let move of pokemonDatosMoves">
                        {{move.names[5].name}}
                    </p>
                </div>
            </article>

            <article class="pokemonDatosPokemonList">
                <div class="pokemonDatosPokemonBox"
                    [ngClass]="{'pokemonDatosPokemonBoxSelected': pokemonDatosSelected == -1}"
                    (click)="goToPokemonDatos(pokemonDatosBase,-1)">
                    <div class="pokemonDatosPokemonImg">
                        <img src="{{pokemonDatos.sprites.other['official-artwork'].front_default}}">
                    </div>
                    <div class="d-flex flex-column justify-content-start">
                        <p>{{pokemonDatos.name}}</p>
                        <span>BASE</span>
                    </div>
                </div>
                <div class="pokemonDatosPokemonBox" *ngFor="let pokemon of pokemonListadoPokemonsRepetidos; index as i"
                    [ngClass]="{'pokemonDatosPokemonBoxSelected': pokemonDatosSelected == i}"
                    (click)="goToPokemonDatos(pokemon,i)">
                    <div class="pokemonDatosPokemonImg">
                        <img src="{{pokemon.sprites.other['official-artwork'].front_default}}">
                    </div>
                    <div class="d-flex flex-column justify-content-start">
                        <p *ngIf="pokemon.unique.name && pokemon.unique.name != null">{{pokemon.unique.name}}</p>
                        <p *ngIf="!pokemon.unique.name || pokemon.unique.name == null">{{pokemon.name}}</p>
                        <span>LVL: {{pokemon.unique.lvl}}</span>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<!-- TEAM -->
<section *ngIf="activeSection == 'team'" class="w-100 d-flex flex-column">
    <div *ngIf="pokedexCargada">
        <ul class="d-flex flex-wrap" (dragover)="onDragOver($event)"
            (drop)="onDrop($event, equipoPokemonsUsuarios, pokemonBanquillo)">
            <li class="pokemonInPokedex" *ngFor="let pokemon of equipoPokemonsUsuarios; let i = index" draggable="true"
                (dragstart)="onDragStart($event, pokemon, i, equipoPokemonsUsuarios)">
                <div class="w-100" class="pokemonInPokedexImg"
                    [ngStyle]="{'background-color': getPokedexBgColor(pokemon)}">
                    <h4 *ngIf="pokemon.unique.name">{{formatNamePokemonPokedex(pokemon.unique.name)}}</h4>
                    <h4 *ngIf="!pokemon.unique.name">{{formatNamePokemonPokedex(pokemon.name)}}</h4>
                    <p>{{formatIdPokemonPokedex(pokemon.id)}}</p>
                    <img *ngIf="comprobarPokemonCaptured(pokemon.id)" class="pokemonInPokedexCaptured"
                        src="{{baseUrl}}assets/media/pokeball.png">
                    <img *ngIf="!comprobarPokemonCaptured(pokemon.id)" class="pokemonInPokedexCaptured"
                        src="{{baseUrl}}assets/media/pokeballOff.png">
                    <img id="{{i}}" src="{{pokemon.sprites.other['official-artwork'].front_default}}">
                    <div class="pokemonInPokedexTypesBox">
                        <div *ngFor="let tipo of pokemon.types">
                            <img src="{{baseUrl}}assets/media/types/{{tipo.type.name}}.png">
                        </div>
                    </div>
                </div>
            </li>
            <li class="pokemonInPokedex" *ngFor="let pokemon of [].constructor(6-equipoPokemonsUsuarios.length)">
                <img src="{{baseUrl}}assets/media/pokeballgray.png" width="14%">
            </li>
        </ul>
        <div class="pokemonBanquillo">
            <ul class="d-flex flex-wrap" (dragover)="onDragOver($event)"
                (drop)="onDrop($event, pokemonBanquillo, equipoPokemonsUsuarios)">
                <li class="w-100" style="height: 40vh;" *ngIf="pokemonBanquillo.length <= 0" draggable="true"></li>
                <li class="pokemonInPokedex" *ngFor="let pokemon of pokemonBanquillo; let i = index" draggable="true"
                    (dragstart)="onDragStart($event, pokemon, i, pokemonBanquillo)">
                    <div class="w-100 h-100" class="pokemonInPokedexImg"
                        [ngStyle]="{'background-color': getPokedexBgColor(pokemon)}">
                        <h4 *ngIf="pokemon.unique.name">{{formatNamePokemonPokedex(pokemon.unique.name)}}</h4>
                        <h4 *ngIf="!pokemon.unique.name">{{formatNamePokemonPokedex(pokemon.name)}}</h4>
                        <p>{{formatIdPokemonPokedex(pokemon.id)}}</p>
                        <img *ngIf="comprobarPokemonCaptured(pokemon.id)" class="pokemonInPokedexCaptured"
                            src="{{baseUrl}}assets/media/pokeball.png">
                        <img *ngIf="!comprobarPokemonCaptured(pokemon.id)" class="pokemonInPokedexCaptured"
                            src="{{baseUrl}}assets/media/pokeballOff.png">
                        <img src="{{pokemon.sprites.other['official-artwork'].front_default}}">
                        <div class="pokemonInPokedexTypesBox">
                            <div *ngFor="let tipo of pokemon.types">
                                <img src="{{baseUrl}}assets/media/types/{{tipo.type.name}}.png">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- SHOP -->
<section *ngIf="activeSection == 'shop'" class="w-100 d-flex flex-column">
    <div *ngIf="pokedexCargada">
        <div class="d-flex align-items-center">
            <img width="25%" *ngIf="!pokeballOpening" src="{{baseUrl}}assets/media/pokeball.png" (click)="openPokeball()">
            <div class="shopView" *ngIf="pokeballOpening">
                <div class="pokeballOpening"></div>
                <div class="pokeballOpeningPokemon">
                    <h4>Pikachu</h4>
                    <div>
                        <img
                            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BATTLE TEST -->
<section *ngIf="activeSection == 'battletest'" class="w-100 d-flex flex-column">
    <div *ngIf="pokedexCargada">
        <div class="pokemonInBattle">
            <div>
                <div class="pokemonInBattleHudBox d-flex justify-content-between">
                    <!-- ANIMACION DE PLAYER ABAJO -->
                    <div class="pokemonInBattlePokemonHud pokemonInBattleAttackYouAnimation">
                        <div class="d-flex align-items-end w-100">
                            <div class="pokemonInBattlePokemonPSBox">
                                <span>PS</span>
                            </div>
                            <div class="pokemonInBattlePokemonLifeBarBox">
                                <div class="pokemonInBattlePokemonLifeBarBoxText">
                                    <p>{{formatNamePokemonPokedex('Charmander')}}</p>
                                    <p><span>LVL</span>&nbsp;5</p>
                                </div>
                                <div class="pokemonInBattlePokemonHudPSBackground">
                                    <span class="pokemonInBattlePokemonHudPSStat">50/50</span>
                                    <div class="pokemonInBattlePokemonHudPSFill"
                                        style="width: 100%; background-color: #67E999;"></div>
                                </div>
                            </div>
                        </div>
                        <img class="pokemonInBattleIdleAnimation"
                            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png">
                    </div>

                    <!-- ANIMACION DE ENEMIGO ABAJO -->
                    <div class="pokemonInBattlePokemonHud pokemonInBattleReceiveAttackEnemyAnimation">
                        <div class="d-flex align-items-end w-100">
                            <div class="pokemonInBattlePokemonPSBox">
                                <span>PS</span>
                            </div>
                            <div class="pokemonInBattlePokemonLifeBarBox">
                                <div class="pokemonInBattlePokemonLifeBarBoxText">
                                    <p>{{formatNamePokemonPokedex('Bulbasaur')}}</p>
                                    <p><span>LVL</span>&nbsp;10</p>
                                </div>
                                <div class="pokemonInBattlePokemonHudPSBackground">
                                    <span class="pokemonInBattlePokemonHudPSStat">50/50</span>
                                    <div class="pokemonInBattlePokemonHudPSFill"
                                        style="width: 100%; background-color: #67E999;"></div>
                                </div>
                            </div>
                        </div>
                        <img class="pokemonInBattleIdleAnimation"
                            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png">
                    </div>
                </div>

                <div class="pokemonInBattleMenu">
                    <button class="pokemonInBattleMenuButton" *ngIf="battle_menu == 'principal'"
                        (click)="setBattleMenu('luchar')">
                        <div class="pokemonInBattleMenuButtonTypeBox">
                            <svg class="pokemonInBattleMenuButtonTypeIcon" width="19px"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path
                                    d="M192 0c17.7 0 32 14.3 32 32V144H160V32c0-17.7 14.3-32 32-32zM64 64c0-17.7 14.3-32 32-32s32 14.3 32 32v80H64V64zm192 0c0-17.7 14.3-32 32-32s32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V64zm96 64c0-17.7 14.3-32 32-32s32 14.3 32 32v64c0 17.7-14.3 32-32 32s-32-14.3-32-32V128zm-96 88l0-.6c9.4 5.4 20.3 8.6 32 8.6c13.2 0 25.4-4 35.6-10.8c8.7 24.9 32.5 42.8 60.4 42.8c11.7 0 22.6-3.1 32-8.6V256c0 52.3-25.1 98.8-64 128v96c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V401.6c-17.3-7.9-33.2-18.8-46.9-32.5L69.5 357.5C45.5 333.5 32 300.9 32 267V240c0-35.3 28.7-64 64-64h88c22.1 0 40 17.9 40 40s-17.9 40-40 40H128c-8.8 0-16 7.2-16 16s7.2 16 16 16h56c39.8 0 72-32.2 72-72z" />
                            </svg>
                        </div>
                        Luchar
                    </button>
                    <button class="pokemonInBattleMenuButton" *ngIf="battle_menu == 'principal'"
                        (click)="setBattleMenu('pokemons')">
                        <div class="pokemonInBattleMenuButtonTypeBox">
                            <svg width="27px" version="1.1" id="Pokéball" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 594.1"
                                style="enable-background:new 0 0 595.3 594.1;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #FFFFFF;
                                    }

                                    .st1 {
                                        fill: #FFFFFF;
                                    }

                                    .st2 {
                                        fill: #FFFFFF;
                                    }

                                    .st3 {
                                        fill: #FFFFFF;
                                    }
                                </style>
                                <g id="Pokéball_1_">
                                    <g id="Colours">
                                        <path id="Down" class="st0"
                                            d="M297.6,380.9c-40.4,0-74.1-28.6-82.1-66.6H81.1c9.5,110.5,102.2,197.2,215.1,197.2 s205.7-86.7,215.1-197.2H379.7C371.7,352.4,338,380.9,297.6,380.9z" />
                                        <path id="Shadow_Down" class="st1"
                                            d="M345.6,505.9c89.6-21,157.7-97.7,165.7-191.6h-53C453,399.5,408.3,471.7,345.6,505.9z" />
                                        <path id="Center" class="st0"
                                            d="M347.1,297L347.1,297C347,297,347,297,347.1,297c-0.1-6.1-1.2-11.9-3.2-17.3 c-7-18.8-25.1-32.1-46.3-32.1s-39.3,13.4-46.3,32.1c-2,5.4-3.1,11.2-3.1,17.3c0,0,0,0,0,0h0.1c0,0,0,0,0,0 c0,6.1,1.1,11.9,3.1,17.3c7,18.8,25.1,32.1,46.3,32.1c21.2,0,39.3-13.4,46.3-32.1C346,309,347.1,303.1,347.1,297 C347.1,297,347.1,297,347.1,297z" />
                                        <path id="Up" class="st2"
                                            d="M297.7,213.2c40.4,0,74.1,28.6,82.1,66.6h134.4C504.7,169.2,412,82.5,299,82.5S93.4,169.2,83.9,279.7 h131.7C223.6,241.7,257.3,213.2,297.7,213.2z" />
                                        <path id="Shadow_Up" class="st3"
                                            d="M458.3,279.7h55.8c-8.2-95.5-78.6-173.3-170.5-192.6C407.4,120.8,452.9,193.7,458.3,279.7z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        Pokemons
                    </button>
                    <button class="pokemonInBattleMenuButton" *ngIf="battle_menu == 'principal'">
                        <div class="pokemonInBattleMenuButtonTypeBox">
                            <svg class="pokemonInBattleMenuButtonTypeIcon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 256 256">
                                <rect width="256" height="256" fill="none" />
                                <path
                                    d="M168,40.6V32A24.1,24.1,0,0,0,144,8H112A24.1,24.1,0,0,0,88,32v8.6A56,56,0,0,0,40,96V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V96A56,56,0,0,0,168,40.6ZM104,32a8,8,0,0,1,8-8h32a8,8,0,0,1,8,8v8H104Zm8,40h32a8,8,0,0,1,0,16H112a8,8,0,0,1,0-16Zm64,144H80V176h56v8a8,8,0,0,0,16,0v-8h24Zm0-56H80v-8a16,16,0,0,1,16-16h64a16,16,0,0,1,16,16Z" />
                            </svg>
                        </div>
                        Bolsa
                    </button>

                    <ng-container *ngFor="let move of [1,2,3,4]; let i = index">
                        <button (mouseover)="showTooltipBattle(combatTooltips)"
                            (mouseleave)="hideTooltipBattle(combatTooltips)" class="pokemonInBattleMenuButton"
                            *ngIf="battle_menu == 'luchar'">
                            <div class="pokemonInBattleMenuButtonTypeBox">
                                <!-- IMG -->
                            </div>
                            Puño
                        </button>
                        <div #combatTooltips class="pokemonInBattleOverlays">
                            <div class="pokemonInBattleMenuButtonOverlay">
                                <div class="pokemonInBattleOverlaysTop">
                                    <div class="pokemonInBattleOverlaysDato">Quemar</div>
                                    <div class="pokemonInBattleOverlaysDato">Fuego</div>
                                    <div class="pokemonInBattleOverlaysDato">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <path
                                                d="M0 256L28.5 28c2-16 15.6-28 31.8-28H228.9c15 0 27.1 12.1 27.1 27.1c0 3.2-.6 6.5-1.7 9.5L208 160H347.3c20.2 0 36.7 16.4 36.7 36.7c0 7.4-2.2 14.6-6.4 20.7l-192.2 281c-5.9 8.6-15.6 13.7-25.9 13.7h-2.9c-15.7 0-28.5-12.8-28.5-28.5c0-2.3 .3-4.6 .9-6.9L176 288H32c-17.7 0-32-14.3-32-32z" />
                                        </svg>
                                        75
                                    </div>
                                    <div class="pokemonInBattleOverlaysDato">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path
                                                d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
                                        </svg>
                                        100
                                    </div>
                                </div>
                                <div class="pokemonInBattleOverlaysBottom">
                                    Puñetazo ardiente. Puede quemar.
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <div class="pokemonInBattleTextBox">
                    {{battle_messages}}
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="!pokedexCargada" class="w-100 d-flex justify-content-center">
    <img src="{{baseUrl}}assets/media/loading2.gif" class="loadingImg">
</div>