<ul>
    <li class="me-3" *ngIf="movil" (click)="doMobileVersion()">
        <svg [ngStyle]="{
            'fill': activeSection == 'home' ? '#1B1B1B' : 'var(--second-bg-color)'
        }" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M32 32C14.3 32 0 46.3 0 64v96c0 17.7 14.3 32 32 32s32-14.3 32-32V96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H32zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7 14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H64V352zM320 32c-17.7 0-32 14.3-32 32s14.3 32 32 32h64v64c0 17.7 14.3 32 32 32s32-14.3 32-32V64c0-17.7-14.3-32-32-32H320zM448 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32V352z"/></svg>
    </li>
    <li class="moneyGang" [ngStyle]="{
        'background-color': activeSection == 'home' ? '#1B1B1B': 'var(--second-bg-color)',
        'color': activeSection == 'home' ? 'var(--second-bg-color)' : '#1B1B1B',
        'fill': activeSection == 'home' ? 'var(--second-bg-color)' : '#1B1B1B'
    }">
        <img class="moneyGangIcon" src="{{baseUrl}}assets/media/topMenu_diamondIcon.svg">
        {{userLoged.money}}
    </li>
    <li (click)="toggleMenu()">
        <img *ngIf="activeSection == 'home'" src="{{baseUrl}}assets/media/topMenu_menuIconBlack.svg">
        <img *ngIf="activeSection !== 'home'" src="{{baseUrl}}assets/media/topMenu_menuIcon.svg">
    </li>

    <a (click)="logout()">
        <div *ngIf="openMenu" id="logoutButton" class="toggleMenu">
            Logout
        </div>
    </a>
</ul>